@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body,
html {
    font-family: Roboto, sans-serif;
    background-color: #51ceed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 80px;
}

.title-content {
    display: flex;
    flex-direction: column;
}

.title-content h1 {
    margin: 0;
    font-size: 3rem;
}

.main-content {
    flex: 1;
    justify-content: center;
    padding: 20px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 20rem;
}

.search button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #0073e6;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search button:hover {
    background-color: #005bb5;
}

.search button:disabled {
    background-color: #ccc;
    color: #4c4c4c;
    cursor: not-allowed;
}

.search-result {
    background: #FFFFFF;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.search-result textarea {
    width: 100%;
}

@media (max-width: 480px) {
    .search input {
        width: 60vw;
    }

    .search-result {
        width: 90vw;
        max-width: 460px;
    }
}